body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: whitesmoke;
}

.container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: min-content 1fr;
  gap: 10px 10px;
}

header {
  background-color: #938cd2;
  grid-area: 1/1/2/-1;
  position: sticky;
  top: 0;
}

main {
  grid-area: 2/2/-1/15;
  display: grid;
  gap: 10px 10px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 400px 1fr;
}

.main__card {
  grid-area: 1/1/2/-1;
  background-color: tomato;
}

.main__about {
  grid-area: 2/1/-1/6;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.about-color {
  display: flex;
  flex-direction: column;
  row-gap: 2px;
  background-color: white;
}

.about-color > div {
  display: flex;
  background-color: white;
  padding: 10px;
}

.main__messages {
  grid-area: 2/6/-1/-1;
  background-color: turquoise;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.app-image {
  width: 200px;
  height: 120px;
  background-color: #938cd2;
}

aside {
  grid-area: 2/15/-1/-1;
  background-color: brown;
}

#header__search {
  width: 40vw;
  height: 40px;
}

#header__search:focus {
  outline: none;
}

nav {
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
}

li {
  list-style-type: none;
}

.logo {
  background-color: white;
  height: 40px;
}

.logo img {
  width: 40px;
  height: auto;
}

.nav-logo {
  column-gap: 5px;
}

@media (max-width: 1023px) {
}

@media (max-width: 767px) {
}
